<!DOCTYPE html>
<html>
	<head>
		<!--Meta Data-->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %} Locxue | Home {% endblock %}</title>
		{% block stylesheets %}
			<!--Import Google Icon Font-->
			<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<!--Import materialize.css-->
			<link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.css') }}"  media="screen,projection"/>
			<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"  media="screen,projection"/>	
			<link type="text/css" rel="stylesheet" href="{{ asset('css/styleloc.css') }}"  media="screen,projection"/>	
			<link type="text/css" rel="stylesheet" href="{{ asset('css/font.css') }}"  media="screen,projection"/>	
		{% endblock %}
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<link rel="icon" type="image/x-icon" href="{{ asset('locxue.ico') }}" />
	</head> 

<body>
    {% block navbar %}
    <header>
		<div class="navbar-fixed">
			<nav class="transparent">
				<div class="container nav-wrapper">
				  <a href="#" class="brand-logo center"><img src="{{ asset('images/locxue.png') }}" id="logo" class="grande"></a>
				  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				  
				  <ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a class="texto-nav white-text flow-text active" href="{{ asset('app_dev.php') }}">inicio</a></li>
					<li><a class="texto-nav white-text flow-text" href="#">Nosotros</a></li>
					<li><a class="texto-nav white-text flow-text" href="#">Que hacemos</a></li>
				  </ul>
				  <ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="texto-nav white-text flow-text" href="{{ path('locxue_page_eventos') }}">Eventos</a></li>
					<li><a class="texto-nav white-text flow-text" href="#">Historia</a></li>
					<li><a class="texto-nav white-text flow-text" href="#">Donar</a></li>
				  </ul>
				  <ul class="side-nav" id="mobile-demo">
					<li><a class="blue-text" href="#">Nosotros</a></li>
					<li><a class="blue-text" href="#">Que hacemos</a></li>
					<li><a class="blue-text" href="#">Eventos</a></li>
					<li><a class="blue-text" href="#">Historia</a></li>
					<li><a class="blue-text" href="#">Donar</a></li>
				  </ul>
				</div>
			</nav>
		</div>
	</header>
    {% endblock %}
	{% block socialButton %}
	  <div id="soclal-button" class="fixed-action-btn sobre-slider hide-on-small-only" style="bottom: 45px; right: 24px;">
		<a class="btn-floating btn-large red">
		  <i class="large material-icons">mode_edit</i>
		</a>
		<ul>
		  <li><a href="#" class="btn-floating red"><i class="small icon icon-youtube"></i></a></li>
		  <li><a href="#" class="btn-floating red"><i class="small icon icon-googleplus"></i></a></li>
		  <li><a href="#" class="btn-floating blue"><i class="small icon icon-twitter"></i></a></li>
		  <li><a href="#" class="btn-floating indigo darken-4"><i class="small icon icon-facebook"></i></a></li>
		</ul>
	  </div>
	{% endblock %}
    {% block body %}
	<div id="nav-page-wrapper" class="side-nav fixed edited valign-wrapper transparent z-depth-0 sobre-slider table-of-contents hide-on-small-only">
		<ul class="valign">
		  <li class="valign center-align">
			<a href="#about" class="btn-floating-edited circle blue lighten-5">
				<i class="material-icons">account_box</i>
			</a>
		  </li>
		  <li class="valign center-align">
			<a href="#blog" class="btn-floating-edited circle blue lighten-5">
				<i class="material-icons">text_format</i>
			</a>
		  </li>
		  <li class="valign center-align">
			<a href="#galeria" class="btn-floating-edited circle blue lighten-5">
				<i class="material-icons">photo</i>
			</a>
		  </li>
		  <li class="valign center-align">
			<a href="#interes" class="btn-floating-edited circle blue lighten-5">
				<i class="material-icons">link</i>
			</a>
		  </li>
		</ul>
	</div>
	
	<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        
		<div class="slider fullscreen" id="elSlider">
			<ul class="slides">
			  <li>
				<img src="{{ asset('images/slider1.jpg') }}"> 
				<div class="caption center-align">
				  <h3>LocXue, Software Engineering</h3>
				  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			  </li>
			  <li>
				<img src="{{ asset('images/slider2.jpg') }}">
				<div class="caption center-align">
				  <h3>LocXue, Software Engineering</h3>
				  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			  </li>
			  <li>
				<img src="{{ asset('images/slider3.jpg') }}"> 
				<div class="caption center-align">
				  <h3>LocXue, Software Engineering</h3>
				  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			  </li>
			  <li>
				<img src="http://lorempixel.com/580/250/nature/4"> 
				<div class="caption center-align">
				  <h3>LocXue, Software Engineering</h3>
				  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			  </li>
			</ul>
		  </div>
		  
		  
		  <div class="container contenido scrollspy" id="about">
			<div class="section">
			  <div class="row">
			  <h3><div class="divider"></div></h3>
				<div class="col s12 center" >
				  <i class="large material-icons" >people</i>
				  <h4 class="scrollspy">Sobre LocXue</h4>
				</div>
				<div class="col m8 s12 center">
				<blockquote>
				  <p class="left-align light flow-text">Somos una comunidad Interdisciplinar de trabajo enfocados en la investigación orientada a la gestión del conocimiento a través de marcos de trabajo basados en agilismo, sustentados en principios como la auto-organización, compromiso, horizontalidad y valores como la amistad, respeto, responsabilidad y confianza con el fin de contribuir al fortalecimiento de la investigación universitaria, junto con actividades profesionales y la innovación.</p>
				</blockquote>
				  <div class="right-align">
					<a href="{{ path('locxue_page_nosotros')}}">Mas Informacion</a>
				  </div>
				</div>
				<div class="col m4 s12 center">
					<img class="circle responsive-img" src="{{ asset('images/locxueNosotros.jpeg') }}">
				</div>
				<div class="col s12 center">
				  <div class="col s3 center">
					<h1>Conocenos</h1>
				  </div>
				  <div class="col s9 slider slider2 transparent">
					<ul class="slides transparent">
					  <li>
						<div class="caption center-align">
						  <h3 class="blue-text">Carlos Alberto Alvarado Bautista</h3>
						  <div class="row">
							  <div class="col s12 valign-wrapper">
								<div class="col s3 valign">
									 <img class="responsive-img" src="{{ asset('images/carlos.jpg') }}">
								</div>
								<div class="col s9 valign">
								  <div class="right-align">
									  <p class="light grey-text">Estudiante de ingeniería de sistemas, 
									  desde el inicio con el Semillero de Investigación LocXue Software Engineering, 
									  aparte de estar involucrado en este mundo practico algunos deportes aunque cada día 
									  con menos frecuencia, aparte del deporte  "practico" videojuegos como PES o Worl of Warcfraft, 
									  para relajarme. en cuanto a musica mi banda favorita es pearl jam. Con ganas de aprender, 
									  explorar lo que mas se pueda.</p>
								  </div>
								</div>
							  </div>
						  </div>
						</div>
						
					  </li>
					  <li>
						<div class="caption center-align">
						  <h3 class="blue-text">Carlos Alberto Alvarado Bautista</h3>
						  <div class="row">
							  <div class="col s12 valign-wrapper">
								<div class="col s3 valign">
									 <img class="responsive-img" src="{{ asset('images/carlos.jpg') }}">
								</div>
								<div class="col s9 valign">
								  <div class="right-align">
									  <p class="light grey-text">Estudiante de ingeniería de sistemas, 
									  desde el inicio con el Semillero de Investigación LocXue Software Engineering, 
									  aparte de estar involucrado en este mundo practico algunos deportes aunque cada día 
									  con menos frecuencia, aparte del deporte  "practico" videojuegos como PES o Worl of Warcfraft, 
									  para relajarme. en cuanto a musica mi banda favorita es pearl jam. Con ganas de aprender, 
									  explorar lo que mas se pueda.</p>
								  </div>
								</div>
							  </div>
						  </div>
						</div>
					  </li>
					  <li>
						<div class="caption center-align">
						  <h3 class="blue-text">Carlos Alberto Alvarado Bautista</h3>
						  <div class="row">
							  <div class="col s12 valign-wrapper">
								<div class="col s3 valign">
									 <img class="responsive-img" src="{{ asset('images/carlos.jpg') }}">
								</div>
								<div class="col s9 valign">
								  <div class="right-align">
									  <p class="light grey-text">Estudiante de ingeniería de sistemas, 
									  desde el inicio con el Semillero de Investigación LocXue Software Engineering, 
									  aparte de estar involucrado en este mundo practico algunos deportes aunque cada día 
									  con menos frecuencia, aparte del deporte  "practico" videojuegos como PES o Worl of Warcfraft, 
									  para relajarme. en cuanto a musica mi banda favorita es pearl jam. Con ganas de aprender, 
									  explorar lo que mas se pueda.</p>
								  </div>
								</div>
							  </div>
						  </div>
						</div>
					  </li>
					  <li>
						<div class="caption center-align">
						  <h3 class="blue-text">Carlos Alberto Alvarado Bautista</h3>
						  <div class="row">
							  <div class="col s12 valign-wrapper">
								<div class="col s3 valign">
									 <img class="responsive-img" src="{{ asset('images/carlos.jpg') }}">
								</div>
								<div class="col s9 valign">
								  <div class="right-align">
									  <p class="light grey-text">Estudiante de ingeniería de sistemas, 
									  desde el inicio con el Semillero de Investigación LocXue Software Engineering, 
									  aparte de estar involucrado en este mundo practico algunos deportes aunque cada día 
									  con menos frecuencia, aparte del deporte  "practico" videojuegos como PES o Worl of Warcfraft, 
									  para relajarme. en cuanto a musica mi banda favorita es pearl jam. Con ganas de aprender, 
									  explorar lo que mas se pueda.</p>
								  </div>
								</div>
							  </div>
						  </div>
						</div>
					  </li>
					</ul>
				  </div>
				</div>  
			  </div>
			</div>
		  </div>
		  
		  
		<div class="parallax-container contenido">
			<div class="section no-pad-bot">
			  <div class="container">
				<br><br>
				<h1 class="header center teal-text text-lighten-2">Keep it simple, be agile</h1>
				<div class="row center">
				  <h5 class="header col s12 light white-text">¿Quieres saber quienes somos?</h5>
				</div>
				<div class="row center">
				  <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Conocenos!</a>
				</div>
				<br><br>

			  </div>
			</div>
			<div class="parallax"><img src="{{ asset('images/background1.jpg') }}" alt="Unsplashed background img 1"></div>
		</div>
		
	<div class="container contenido scrollspy" id="blog">
		<div class="section">

		  <!--   blog Section   -->
		  <div class="row">
		  <h3><div class="divider"></div></h3>
			<div class="col s12 center">
				  <h4><i class=" small material-icons">subject</i>Blog</h4>
				</div>
			<div class="col s12 m4">
			  <div class="card">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="activator" src="{{ asset('images/article.jpg') }}">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Soy un articulo<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">Ir al articulo</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Soy un articulo<i class="material-icons right">close</i></span>
				  <p>Soy el articulo mas reciente y esta es mi descripcion.</p>
				</div>
			  </div>
			</div>

			<div class="col s12 m4">
			  <div class="card">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="activator" src="{{ asset('images/article.jpg') }}">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Soy un articulo<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">Ir al articulo</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Soy un articulo<i class="material-icons right">close</i></span>
				  <p>Soy el segundo articulo mas reciente y esta es mi descripcion.</p>
				</div>
			  </div>
			</div>

			<div class="col s12 m4">
			  <div class="card">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="activator" src="{{ asset('images/article.jpg') }}">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Soy un articulo<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">Ir al articulo</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Soy el tercer articulo mas reciente y esta es mi descripcion.</p>
				</div>
			  </div>
			</div>
			<div class=" col s12 right-align">
				<a href="#" class="right-align">Ir al blog..</a>
			</div>
		  </div>

		</div>
	  </div>


	  <div class="parallax-container valign-wrapper contenido">
		<div class="section no-pad-bot">
		  <div class="container">
			<div class="row center">
			  <h5 class="header col s12 light white-text">Tu tambien puedes ayudar!!</h5>
			</div>
			<div class="row center">
				  <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Donaciones</a>
				</div>
		  </div>
		</div>
		<div class="parallax"><img src="{{ asset('images/background2.jpg') }}" alt="Unsplashed background img 2"></div>
	  </div>

	  <div class=" contenido scrollspy" id="galeria">
		<div class="section">

		  <div class="row">
			<div class="col s12 center">
			  <h3><i class="mdi-content-send brown-text"></i></h3>
			  <h4>Galeria</h4>
			  <div class="col s12 m4 l3">
			  <div class="card">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees" width="100%" height="250px" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Agiles Mundial 2015<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">Ir al articulo</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Soy el tercer articulo mas reciente y esta es mi descripcion.</p>
				</div>
			  </div>
			</div>
			  <div class="col s12 m4 l3">
			  <div class="card">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees" width="100%" height="250px" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Agiles Mundial 2015<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">Ir al articulo</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Soy el tercer articulo mas reciente y esta es mi descripcion.</p>
				</div>
			  </div>
			</div>
			<div class="col s12 m4 l3">
			  <div class="card">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees" width="100%" height="250px" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">1er Open Agile Fusagasuga<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">Ir al articulo</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Soy el tercer articulo mas reciente y esta es mi descripcion.</p>
				</div>
			  </div>
			</div>
			<div class="col s12 m4 l3">
			  <div class="card">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees" width="100%" height="250px" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">1er Open Agile Education Fusagasuga<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">Ir al articulo</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Agilismo aplicado a la educacion.</p>
				</div>
			  </div>
			</div>
			</div>
		  </div>

		</div>
	  </div>


	  <div class="parallax-container valign-wrapper contenido">
		<div class="section no-pad-bot">
		  <div class="container">
			<div class="row center">
			  <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
			</div>
		  </div>
		</div>
		<div class="parallax"><img src="{{ asset('images/background3.jpg') }}" alt="Unsplashed background img 3"></div>
	  </div>  
	 <div class="container contenido scrollspy" id="interes">
		<div class="section">

		  <div class="row">
			<div class="col s12 center">
			  <h3><i class="mdi-content-send brown-text"></i></h3>
			  <h4>Tambien podria Interesarte:</h4>
			  <p class="left-align light">Iconos con enlaces a las paginas de interes;</p>
			</div>
		  </div>

		</div>
	  </div>  
    {% endblock %}

{% block footer %}
    <footer class="page-footer blue contenido">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Buscanos</h5>
          <ul>
            <li class="flow-text white-text">Fusagasugá - Diagonal 18 No. 20-29</li>
          </ul>
        </div>
        <div class="col l8 s12">
          <h5 class="white-text">Siguenos en nuestras redes</h5>
          <ul>
		  <div class="col l3 s12">
            <li class="flow-text">
				<a href="#" class="white-text">
					<div class="btn-floating blue">
						<i class="small icon icon-twitter"></i>
					</div>
				@locxue</a>
			</li>
		    <li class="flow-text">
				<a href="#" class="white-text">
					<div class="btn-floating indigo darken-4">
						<i class="small icon icon-facebook"></i>
					</div>
				/locxue</a>
			</li>
		  </div>
		  <div class="col l9 s12">
		    <li class="flow-text white-text">
				<a href="#" class="white-text">
					<div class="btn-floating red">
						<i class="small icon icon-youtube"></i>
					</div>
				Locxué Semillero de investigación</a>
			</li>
			<li class="flow-text white-text">
				<a href="#" class="white-text">
					<div class="btn-floating red">
						<i class="small icon icon-googleplus"></i>
					</div>
				locxueudec@gmail.com</a>
			</li>
          </ul>
		  </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3">LocXue</a>
      </div>
    </div>
  </footer>

{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/materialize.js') }}"></script>
        <script src="{{ asset('js/init.js') }}"></script>
    {% endblock %}
</body>
</html>
